<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>Cadastrar e-mail From</title>
</head>
<body>
<header>
    <section class="cabecario">
        <h1>Cadastrar e-mail From</h1>
    </section>
    <div class="mensagemSucesso" th:if="${mensagemSucesso}" th:text="${mensagemSucesso}"></div>
</header>
<main>
        <form action="/email/CadastrarEmailFrom" th:object="${emailFromDTO}" method="post" class="corpo">
            <div class="row">
                <div class="coluna_1">
                    <label for="email">Email</label>
                </div>
                <div class="coluna_2">
                    <input type="text" name="email" id="email" required placeholder="E-mail"/>
                    <span class="mensagem" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <span class="mensagem" th:if="${emailMensagem}" th:text="${emailMensagem}"></span>
                </div>
            </div>
            <div class="row">
                <div class="coluna_1">
                    <label for="password">Senha</label>
                </div>
                <div class="coluna_2">
                    <input type="password" name="senha" id="password" required placeholder="Senha"/>
                    <span class="mensagem" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
                </div>
            </div>
            <div class="button">
                  <button type="submit" class="enviar">
                         Enviar email
                 </button>
            </div>
        </form>
</main>
<footer>
        <p class="referencia">Criado por Rodrigo Gambarra</p>
</footer>
</body>
</html>