<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>E-mail enviado com sucesso!</title>
</head>
<body>
<header>
    <section class="cabecario">
        <h1>Envio de Email</h1>
    </section>
</header>
<main>
    <div class="mensagemSucesso">E-MAIL ENVIADO COM SUCESSO!</div>
</main>
<footer>
    <p class="referencia">Criado por Rodrigo Gambarra</p>
</footer>
</body>
</html>